.numbOne0{
    background: url(./img/0.png);
}
.numbOne1{
    background: url(./img/1.png);
}
.numbOne2{
    background: url(./img/2.png);
}
.numbOne3{
    background: url(./img/3.png);
}
.numbOne3{
    background: url(./img/4.png);
}
.numbOne4{
    background: url(./img/5.png);
}
.numbOne5{
    background: url(./img/6.png);
}
.numbOne6{
    background: url(./img/3.png);
}
.numbOne7{
    background: url(./img/7.png);
}
.numbOne8{
    background: url(./img/8.png);
}
.numbOne9{
    background: url(./img/9.png);
}
.numbOne10{
    background: url(./img/10.png);
}

.numbOne11{
    background: url(./img/11.png);
}

.numbOne12{
    background: url(./img/12.png);
}

.numbOne13{
    background: url(./img/13.png);
}

.numbOne14{
    background: url(./img/14.png);
}

.numbOne15{
    background: url(./img/15.png);
}

.numbOne16{
    background: url(./img/16.png);
}

.numbOne17{
    background: url(./img/17.png);
}

.numbOne18{
    background: url(./img/18.png);
}

.numbOne19{
    background: url(./img/19.png);
}

.numbOne20{
    background: url(./img/20.png);
}

.numbOne21{
    background: url(./img/21.png);
}

.numbOne22{
    background: url(./img/22.png);
}

.numbOne23{
    background: url(./img/23.png);
}

.numbOne24{
    background: url(./img/24.png);
}

.numbOne25{
    background: url(./img/25.png);
}

.numbOne26{
    background: url(./img/26.png);
}

.numbOne27{
    background: url(./img/27.png);
}

.numbOne28{
    background: url(./img/28.png);
}



