.rightColumnClosed{
    position: absolute;
    right: -67%;
    width: 80%;
    height: 100%;
    background-color: rgb(142, 133, 133);
    transition: all 1s;
    display: flex;
}
.rightColumnOpen{
    position: absolute;
    right: 0%;
    width: 80%;
    height: 100%;
    background-color: rgb(142, 133, 133);
    transition: all 1s;
    display: flex;
}
.seengArea{
    width: 16%;
    height: 100%;
    position: relative;
    display: flex;  
    flex-direction: column;
    align-items: center;
}
.hiddenArea{
    width: 84%;
    height: 100%;
    display: grid;  
    grid-template-columns: repeat(4,1fr);
    gap: 5%; 
    padding: 2%;
}
.ChosenLesson{
    width: 80%;
    height: 20%;
    margin: 20px;
    background-color: rgb(43, 43, 42);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 90%;
    cursor: pointer;
}
.OpenIt{
    width: 50%;
    height: 50px;
    margin: 20px 30px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px 20px 50px 13px;
    background-color: rgb(44, 44, 27);
    color: white;
    cursor: pointer;
    position: absolute;
    bottom: 0;
}
.controlBord{
    width: 100%;
    height: 4.5%;
    background-image: url(../../../public/pictures/controlPicture.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 10%;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.runBack{
    width: 23%;
    height: 100%;
    
}
.runBackOn{
    width: 23%;
    height: 100%;
    background-color: gray;
    opacity: 0.5;
    
}
.stop{
    width: 20%;
    height: 100%;
    
}
.stopOn{
    width: 20%;
    height: 100%;
    background-color: gray;
    opacity: 0.5;
    
}
.play{
    width: 17%;
    height: 100%;
    
}
.playOn{
    width: 17%;
    height: 100%;
    background-color: gray;
    opacity: 0.5;
}
.pause{
    width: 17%;
    height: 100%;
}
.pauseOn{
    width: 17%;
    height: 100%;
    background-color: gray;
    opacity: 0.5;
}
.runForward{
    width: 23%;
    height: 100%;
}
.runForwardOn{
    width: 23%;
    height: 100%;
    background-color: gray;
    opacity: 0.5;
}
.speed{
    width: 100%;
    height: 5%;
    background-color: white;
    position: absolute;
    bottom: 15%;
    display: flex;
    align-items: center;
}
.speedButton{
    height: 100%;
    width: 20%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80%;
    cursor: pointer;
}
.speedButtonOn{
    height: 100%;
    width: 20%;
    border: 1px solid black;
    background-color:gray;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80%;
    cursor: pointer;
}
.straightOr{
    width: 100%;
    height: 5.5%;
    background-color: white;
    position: absolute;
    bottom: 21%;
    display: flex;
    cursor: pointer;
    background-color: black;
}
.stryght{
    height: 100%;
    width: 50%;
    background-image: url(../../../public/pictures/straight.png);
    background-size: contain;
}
.stryghtOn{
    height: 100%;
    width: 50%;
    background-color: burlywood;
    background-image: url(../../../public/pictures/straight.png);
    background-size: contain;
    opacity: 0.54;
}
.notStryght{
    height: 100%;
    width: 50%;
    background-color: rgb(135, 222, 150);
    background-image: url(../../../public/pictures/tangled.png);
    background-size: contain;
}
.notStryghtOn{
    height: 100%;
    width: 50%;
    background-color: rgb(135, 222, 150);
    background-image: url(../../../public/pictures/tangled.png);
    background-size: contain;
    opacity: 0.54;

}