.headerContainer{
    width: 99%;
    height: 60px;
    display: flex;
    align-items: center;
    border: 1px solid red;
    padding: 0 0.7vw;
}
.bar{
    width: 1.8vw;
    height: 1.8vw;
    background-image: url(../../../../public/images/the_copy.png);
    background-size: contain;
    border: 1px solid white;
    border-radius: 5px;
}
.catImage{
    width: 2vw;
    height: 2vw;
    margin-left: 0.88vw;
    background-image: url(../../../../public/images/2cop.png);
    background-size: contain;
}
.dashboard{
    color: white;
    font-size: 0.82vw;
    font-weight: 900;
    margin-left: 0.8vw;
}
.search{
    width: 20vw;
    height: 1.8vw;
    border: 1px solid red;
    margin-left: 54.65vw;
}