.homeContainer{
    width: 100vw;
    height: 759px;
    background-color: rgb(127, 219, 255);
    background-image: url(../../../public/images/Hit_home.png);
    background-size: contain;
    background-repeat: no-repeat;
}